/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.text{
color: #C85024; /* = couleur de la terre gabonaise, chaleureuse et accueillante */
color: #2D6B3A;/*  = couleur des forêts tropicales qui entourent Owendo */
color: #F9B701; /* = le soleil africain qui brille toute l'année */
color: #BECFE2;/*  = reflet du ciel ou des eaux calmes de l'estuaire */
color: #1A1A1A; /* = noir élégant pour un contraste clair/visible partout */
}
/* Hover sur les cartes */
.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Couleurs personnalisées */
.bg-primary {
    background-color: #00448d !important;
}

.text-primary {
    color: #00448d !important;
}

.btn-outline-primary {
    border-color: #00448d;
    color: #00448d;
}

.btn-outline-primary:hover {
    background-color: #003d7e;
    color: white;
}

.hero {
    background: url('../images/hero.jpg') no-repeat center center/cover;
    color: white;
    padding: 6rem 2rem;
    text-align: center;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.carousel-inner .carousel-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Header */
/* Hauteur du carrousel = 50% de la hauteur de l'écran */
#heroCarousel {
    height: 50vh;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }
}